################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MefReputationProvider/.vs/MefReputationProvider/v16
/MefReputationProvider/bin/Debug
/MefReputationProvider/obj
/MefReputationProvider.CitySearch/bin/Debug
/MefReputationProvider.CitySearch/obj
/MefReputationProvider.GooglePlaces/bin/Debug
/MefReputationProvider.GooglePlaces/obj
/MefReputationProvider.YellowBook/bin/Debug
/MefReputationProvider.YellowBook/obj
/MefReputationProvider.YellowPages/bin/Debug
/MefReputationProvider.YellowPages/obj
/MefReputationProvider.Yelp/bin/Debug
/MefReputationProvider.Yelp/obj
/packages
/ReputationIntegration/bin/Debug
